*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: rgb(236, 236, 236);
}

.motherbox {
    background-image: url(pics/GOPR0664.JPG);
    background-position: center;
    background-repeat:space;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1em;
}

.header {
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    color: rgb(11, 3, 12);
    text-shadow:3px 3px 7px rgb(36, 190, 22), -3px -3px 7px rgb(36, 190, 22);
    
    font-size: 5rem;
    margin-top: 2em;
}

.enter {
    color: white; 
    text-shadow:1px 1px 1px white;
    font-family: 'Noto Sans SC', sans-serif;
    background-color: transparent;
    border-radius: 5px;
    width: 5rem;
    height: 2.2rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding: .3em .3em;
}

.enter:hover {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    background-color: black;
    border-radius: 2em;
}

.enter:active {
    font-weight: bold;
}


.story {
    background-color: transparent;
    color: rgb(236, 236, 236);
    /*text-shadow:3px 3px 7px rgb(36, 190, 22), -3px -3px 7px rgb(36, 190, 22);*/
    
    font-family: 'Amatic SC', cursive;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 2em;
    margin-top: 5em;
    margin-left: 15em;
    margin-right: 15em;
    margin-bottom: 0em;
    /*border: .2em solid black;*/
    padding: 1em;
    width: 25em;
}

.story:hover {
    background-color: black;
}


.mid {
    background-color: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

/*.choiceheader {
    font-size: 1em;
    font-family: 'New Rocker', cursive;
    
    text-shadow:3px 3px 7px rgb(36, 190, 22), -3px -3px 7px rgb(36, 190, 22);
    
}*/

.skull {
    width: 8em;
    height: 8em;
    padding: .5em;
    border-radius: 50%;
    border: .3em solid black;
    background-color:  rgb(36, 190, 22);
}

.choices {
    background-color: none;
    color: rgb(36, 190, 22);
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    gap: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15em;
    margin-right: 15em;
    width: 25em;
    margin-bottom: 3em;
}

.fate {
    background-color: transparent;
    color: white;
    border-radius: 2em;
    text-align: center;
    
    min-height: 2em;
    width: 25em;
    padding: .5em;
}

.fate:hover {
    cursor: pointer;
    background-color: black;
}


.info {
    background-color: none;
    
    display: flex;
    border-radius: 1em;
    margin: 1em;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    color: transparent;
    background: black;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
    color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    color: transparent;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(228, 220, 220, 0.4);
    border-radius: 20px;
}